# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
csv_path = "../output_data/cities.csv"
weather_df = pd.read_csv(csv_path)
weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,yellowknife,62.4560,-114.3525,24.80,74,20,16.11,CA,1614986854
1,1,tres arroyos,46.3231,11.0969,50.00,37,20,5.75,IT,1614986854
2,2,savannah bight,32.0835,-81.0998,57.20,51,40,5.75,US,1614986854
3,3,hamilton,39.1834,-84.5333,44.60,36,40,13.80,US,1614986650
4,4,hilo,19.7297,-155.0900,75.20,60,90,6.91,US,1614986682
...,...,...,...,...,...,...,...,...,...,...
559,559,pathein,16.7833,94.7333,68.22,88,0,7.20,MM,1614986934
560,560,asfi,32.2994,-9.2372,58.32,81,9,7.81,MA,1614986790
561,561,chlorakas,34.8042,32.4083,50.00,76,40,6.91,CY,1614986935
562,562,salinopolis,-0.6136,-47.3561,79.23,83,100,8.68,BR,1614986935
563,563,zandvoort,52.3749,4.5341,32.00,86,0,2.30,NL,1614986935

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]
Humidity = weather_df["Humidity"]

In [8]:
 # Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=30,
                                 point_radius=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
#  Ideal weather condition selection
Perfect_weather_df = weather_df.loc[(weather_df["Max Temp"]>70) & (weather_df["Max Temp"]<80) & (weather_df["Wind Speed"]<15) & (weather_df["Cloudiness"] ==0) & (weather_df["Humidity"]>25) & (weather_df["Humidity"]<65)]

In [39]:
Perfect_weather_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,salalah,17.0151,54.0924,75.20,35,0,5.75,OM,1614986855
7,7,cape town,-36.4130,-71.9028,77.00,53,0,8.05,CL,1614986855
41,41,mecca,21.4267,39.8261,72.52,44,0,4.63,SA,1614986860
210,210,luderitz,-26.6481,15.1594,70.56,46,0,11.41,NaN,1614986718
233,233,vallenar,-28.5708,-70.7581,72.43,54,0,5.97,CL,1614986888

In [40]:
# Drop any rows that don't contain all three conditions. 
Perfect_weather_df.dropna()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,salalah,17.0151,54.0924,75.20,35,0,5.75,OM,1614986855
7,7,cape town,-36.4130,-71.9028,77.00,53,0,8.05,CL,1614986855
41,41,mecca,21.4267,39.8261,72.52,44,0,4.63,SA,1614986860
233,233,vallenar,-28.5708,-70.7581,72.43,54,0,5.97,CL,1614986888
263,263,linares,-35.8500,-71.6000,76.57,43,0,7.29,CL,1614986893
455,455,challakere,14.3167,76.6500,70.70,32,0,8.97,IN,1614986921
486,486,santiago,-33.4569,-70.6483,79.00,56,0,14.97,CL,1614986675

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [41]:
hotel_df = Perfect_weather_df.dropna()

In [42]:
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,salalah,17.0151,54.0924,75.20,35,0,5.75,OM,1614986855
7,7,cape town,-36.4130,-71.9028,77.00,53,0,8.05,CL,1614986855
41,41,mecca,21.4267,39.8261,72.52,44,0,4.63,SA,1614986860
233,233,vallenar,-28.5708,-70.7581,72.43,54,0,5.97,CL,1614986888
263,263,linares,-35.8500,-71.6000,76.57,43,0,7.29,CL,1614986893

In [43]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
requests.get(base_url, params=params)

In [60]:
 # params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    Latitude = row["Lat"]
    Longitude = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{Latitude},{Longitude}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params).json()
    print(f"Retrieving Results for Index {index}: {row['City']}.")

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "City"] = name_address["results"][0]["city"]
        hotel_df.loc[index, "Country"] = name_address["results"][0]["country"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for Index 5: salalah.
Missing field/result... skipping.

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Retrieving Results for Index 7: cape town.
Missing field/result... skipping.
Retrieving Results for Index 41: mecca.
Missing field/result... skipping.
Retrieving Results for Index 233: vallenar.
Missing field/result... skipping.
Retrieving Results for Index 263: linares.
Missing field/result... skipping.
Retrieving Results for Index 455: challakere.
Missing field/result... skipping.
Retrieving Results for Index 486: santiago.
Missing field/result... skipping.

In [68]:
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
5,5,salalah,17.0151,54.0924,75.20,35,0,5.75,OM,1614986855,HAMDAN PLAZA HOTEL SALALAH
7,7,cape town,-36.4130,-71.9028,77.00,53,0,8.05,CL,1614986855,MOTEL Mediterraneo
41,41,mecca,21.4267,39.8261,72.52,44,0,4.63,SA,1614986860,"Makkah Clock Royal Tower, A Fairmont Hotel"
233,233,vallenar,-28.5708,-70.7581,72.43,54,0,5.97,CL,1614986888,Humacao Bed & Breakfast
263,263,linares,-35.8500,-71.6000,76.57,43,0,7.29,CL,1614986893,Hotel Real

In [69]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# The End! :)